@mixin triangle($size, $color, $bottom, $left) {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: $size solid $color;
    bottom: $bottom;
    left: $left;
    transform: translateX(-50%);
  }